
body{
  background-color: #ffffff;
  color: #d7d9d8;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  margin: auto;
}

header{
	width: 100%;
	background-color: #ffffff;
	color: #588ea6;
	margin: auto;
}

header > h1{
	font-size: 2.6em;
		padding-left: 5%;
}

#moja_aplikacja {
	display: none;
}

.flex-container {
	display: flex;
	flex-direction: row;
	margin: 0;
}

.header-left {
	width: 80%;
}

.header-left > h1 {
	font-size: 2.6em;
	padding-left: 5%;
}

.header-right {
	width: 10%;
}

.header-right > button {
	background-color: #588ea6;
	border: none;
	position: Absolute; top: 3%; right: 3%; 
	display: inline-block;
	padding: 10px 10px;
}

.left {
	background-color: #d7d9d8;
	color: #588ea6;
	width: 55%;
	padding: 0% 5% 0% 5%;
	display: inline-block;
}

.left > h1, h2 {
	color: #ffffff;
}

.right {
	background-color: #ffffff;
	padding: 0% 5% 0% 5%;
	width: 45%;
	display: inline-block;
}

.right > img {

	width: 100%;
}

#add_photo > img {
	width: 100%;
}

.indexLeft {
	background-color: #d7d9d8;
	color: #ffffff;
	width: 35%;
	display: inline-block;
	padding: 0% 5% 0% 5%;
}

.indexMiddle {
	background-color: #d7d9d8;
	color: #ffffff;
	width: 35%;
	padding: 0% 5% 0% 5%;
	display: inline-block;
}

.indexLeft > h2, .indexMiddle > h2 {
	color: #a65873;
	font-variant: small-caps;
}

.indexRight {
	background-color: #d7d9d8;
	color: #ffffff;
	width: 30%;
	padding: 3% 2% 0% 2%;;
	display: inline-block;
}

.indexRight > img {
	padding-top: 5%;
	width: 100%;
	margin: auto;
}

#add_my_monograph, #edit_my_monograph {
	background-color: #ffffff;
	border: solid 1px #000000;
	color: #588ea6;
	display: none;
	padding: 2%;
	
}

#add_my_monograph button {
	color: #ffffff;
	background-color: #588ea6;
	border: none;
	padding: 10px 30px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

#add_my_monograph input {
	width: 50%;
}

button {
	color: #ffffff;
	background-color: #588ea6;
	border: none;
	padding: 10px 30px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

button:hover {
	color: #ffffff;
	background-color: #a65873;
	border: none;
	padding: 10px 30px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

form {
  max-width: 70%;
  margin: 0;
  padding: 0% 5% 0% 5%;
  align-items: center;
}


@media (max-width: 50rem) {
body{	
	color: #ffffff;
}

header {
	border-bottom: solid #588ea6;
}

.flex-container {
	display: flex;
}

.left {
	width: 100%;
	display: block;
}


.right {
	display: none;
}

.indexLeft {
	background-color: #d7d9d8;
	color: #ffffff;
	width: 50%;
	display: inline-block;
}


.indexMiddle {
	background-color: #d7d9d8;
	color: #ffffff;
	width: 50%;
	display: inline-block;
}
.indexRight {
	display: none;
}

.indexRight > img {
	display: none;
}

form {
  max-width: 80%;
  margin: 0;
}
}